argos-ia/workflows/ARGOS_IA.json
{
  "name": "ARGOS_IA",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ],
      "id": "406ccbe7-36c6-4b96-b2e9-154221c05db3",
      "name": "Question and Answer Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        260,
        320
      ],
      "id": "5936bf95-b9c0-4225-ac8e-2438be7fe7aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7d4byFcuewnNKylA",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "5170fe11-7e2b-4d97-bbe4-8c05dbc19405",
      "name": "When chat message received",
      "webhookId": "4972343f-ebd6-47bf-8cb9-1b71b618045b"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0ojLykThFSI5Z2CZ",
          "mode": "list",
          "cachedResultName": "Notas Fiscais"
        },
        "fields": {
          "values": [
            {}
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverWorkflow",
      "typeVersion": 1.1,
      "position": [
        520,
        220
      ],
      "id": "ded1e2f3-d5ac-4892-8265-ebb64f2cfae4",
      "name": "Workflow Retriever"
    },
    {
      "parameters": {
        "jsCode": "// Extrai o texto limpo\nconst data = $input.first().json;\nconst text = data.response || data.text || data;\n\nreturn [{\n  json: {\n    output: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "35aa7955-0a87-4eed-8480-e09e8a6cd18e",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e06f83d1-3669-4938-8c91-b28f59d96131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2aafbca8009111ff36c7ec0d8e7eae4f931e429e6731a23361f83e7cd2f81989"
  },
  "id": "c5WbnV7CVSFx6SF4",
  "tags": []
}
